<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jeff.insecuredatastorage1">

    <application>
        <activity
            android:name=".insecureDataStorage1"
            android:label="@string/insecureDataStorage1_title">
        </activity>
    </application>

</manifest>