<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jeff.hardcodingissue1">

    <application>
        <activity
            android:name=".hardcodingIssue1"
            android:label="@string/hardcode1_title"
            ></activity>
    </application>

</manifest>