<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jeff.insecurelogging">

    <application>
        <activity
            android:name=".InsecureLogging"
            android:label="@string/log_title"
            ></activity>
    </application>

</manifest>